<!DOCTYPE html>

<html>

<head>


  <title>
  Droplet
  <!-- Put account name here...or company name.  -->
  </title>
  <meta charset="UTF-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="static/styles/stylesIndex.css" />

        <!-- Vue.js  -->
      <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

        <!-- Tween max  -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>



</head>



<body>


  <div class="side-nav">



  </div>



  <div class="title">
  <h1> Whats happening on your block? </h1>
  <p> Droplet, management at its best. </p>
  </div>




  <div class="updates">
    <p> Recent updates </p>

    <div class="updateList">

          <ul id="job">
            <li id="">01</li>
            <li id="">Broken wire</li>
            <li id="">Osip R 21</li>
            <li id="">06 Jul 19 </li>
            <!-- <li>  </li> -->
          </ul>

    </div>



  </div>









</body>









</html>
